
.content {
  /* background-image: url('https://st.depositphotos.com/1899425/1623/i/600/depositphotos_16232649-stock-photo-moraine-lake-sunrise-colorful-landscape.jpg');
  background-repeat: no-repeat;
  background-size: 80% 50%;
  background-position: center top; */
}


 

