


.header {
    grid-area: header;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: indigo;
    
  }
  
  .header img {
    display: block;
    width: 100px;
    height: 100px;  
    
  }

  .loginBlog {
    margin-right: 15px;
    
  }

  .loginBlog a {
    text-decoration: none ;
    color: blanchedalmond;
  }
