ul li {
  list-style: none;
}

.app-wrapper {
  display: grid;
  grid-template-areas:
  "header header header"
    "nav content content";
  grid-template-rows: auto minmax(500px,auto);
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  margin-bottom: 15px;
}

.app-wrapper-content {
  grid-area: content;
  background-color: goldenrod;
  
  
}

